.order-container {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}
.order {
  border-top: 1px solid rgb(171, 170, 170);
}
p {
  margin: 0;
}
img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.img-container {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
}
.order {
  padding: 1rem;
  border-bottom: 1px solid rgb(171, 170, 170);
}
.order-heading {
  font-weight: 550;
  font-size: large;
  margin-bottom: 0.5rem;
}
.feedback-trigger {
  display: flex;
  justify-content: center;
  padding-top: 0.7rem;
  font-weight: 550;
}
.feedback-trigger button {
  padding: 1rem 0.5rem;
  color: rgb(41, 66, 255);
  background-color: transparent;
  padding: 0.3rem;
  border: none;
  border: 1px solid rgb(171, 170, 170);
  border-radius: 5px;
}

i {
  font-size: 1.2rem;
}

@media (min-width: 585px) {
  i {
    font-size: 1.5rem;
    font-weight: 300;
  }
}
