.dispatched {
  background-color: rgba(11, 154, 211, 0.757);
}
.processing {
  background-color: rgba(154, 154, 154, 0.757);
}
.delivered {
  background-color: rgba(37, 212, 37, 0.757);
}

#tr {
  cursor: pointer;
  transition: 500ms 0s box-shadow;
}

#tr:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) inset;
}
.filter {
  width: auto;
  display: inline;
  margin-right: 1rem;
}
.category {
  width: 20vw;
  display: inline;
  margin-left: 1rem;
}
.date-header {
  cursor: pointer;
}
